db.sqlite3
*.pyc
ten_thousand_hours/settings/prod.py
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

web/.DS_Store
web/static/.DS_Store