container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --settings ten_thousand_hours.settings.prod && python manage.py syncdb --settings ten_thousand_hours.settings.prod"
    leader_only: true
option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: ten_thousand_hours.settings.prod
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: ten_thousand_hours/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: web/static/