{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script src="/static/js/lib/moment.min.js" charset="utf-8"></script>
      <script src="/static/js/lib/jquery-2.1.0.min.js" charset="utf-8"></script>

      <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link rel="stylesheet" href="{% static 'css/lib/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/lib/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      {% block css %}{% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
  </body>
</html>
