{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!--<div id="main-content"></div> -->
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
</style>

<div class="container">
  <div class="hero-unit">
    <h1>Welcome to 10,000 Hours</h1>
    {% if user.is_authenticated %} 
      <p>Welcome, {{ user.username }}. You are logged in. <a href="{% url 'logout' %}">[Sign Out]</a> </p>

    {% else %}

      <p>Welcome, new user. Please log in or create an account.</p>
      <p><a href="{% url "create-new-user" %}" class="btn btn-primary btn-large">Register</a>
         <a href="#" class="btn btn-success btn-large">Login</a>
      </p>
    {% endif %}

  </div>    

  {% if user.is_authenticated %}

    {% if skills %}

      <h3>Your skills</h3>
      <ul>
      {% for skill in skills %}
        <li><a href="/skills/{{ skill.id }}/">{{ skill.name }}</a></li>
      {% endfor %}
      </ul>

    {% else %}

      <h4>You have no skills! Add one below.</h4>

    {% endif %}

  <h3>Add a new skill</h3>
    <form action="/create_skill/" method="POST">
      {% csrf_token %}
      <label for="name">Skill Name</label>
      <input type="text" name="name"></input>
      <input type="submit"></input>
  </form>

  {% endif %}

</div>

{% endblock %}




